# 1. Игнорировать абсолютно всё в репозитории
*

# 2. Разрешить Git сканировать папки (без этого он не зайдет внутрь miner_scanner)
!*/

# 3. Явно запретить Git заходить в мусорные/рабочие папки
__pycache__/
debug/
export_pdf/
Архив/
Сборка/
книга/

# 4. РАЗРЕШИТЬ конкретные файлы в корне проекта
!gemini_gui.py
!.gitignore
!version.json

# 5. РАЗРЕШИТЬ абсолютно всё внутри папки miner_scanner (файлы и подпапки)
!miner_scanner/**