# 1. Игнорировать абсолютно всё в этой папке
*

# 2. НО разрешить Git'у заходить в любые подпапки
!*/

# 3. НО не игнорировать файлы с кодом Python
!*.py

# 4. И не игнорировать сам файл настроек gitignore
!.gitignore

# 5. И разрешить наш файл настроек обновлений
!version.json