# 1. Игнорировать абсолютно всё в репозитории
*

# 2. Разрешить Git сканировать папки
!*/

# 3. Явно запретить Git заходить в мусорные/рабочие папки
__pycache__/
debug/
export_pdf/
Архив/
Сборка/
книга/
cloud_platform/

# 4. РАЗРЕШИТЬ конкретные файлы в корне проекта
!gemini_gui.py
!.gitignore
!version.json
!README.md
!LICENSE
!requirements.txt

# (Опционально) Если твоему GUI нужны картинки или конфиги, раскомментируй их:

# 5. РАЗРЕШИТЬ абсолютно всё внутри рабочих папок
!miner_scanner/**

# 6. РАЗРЕШИТЬ папку с документацией <--- ДОБАВЬ ЭТО
!docs/**
